<md-dialog class="dialogg">
	<form>
		<md-input-container>
			<label for="Offer Title">Offer Title(like 15% off 20 % off)</label>
			<input type="text" ng-model = "data.head"/>
		</md-input-container>
	
		<md-input-container>
			<label for="Offer Title">Offer Description(on which food and so...)</label>
			<input type="text" ng-model = "data.des"/>
		</md-input-container>
		<md-input-container style="margin-right: 10px;">
        <label>Offer Valid Till</label>
        <md-select ng-model="data.valid">
          <md-option value="1">One Day (till 12 am)</md-option>
	<md-option value="2">Two Days </md-option>
	<md-option value="7">Seven Days (1 Week)</md-option>
	<md-option value="30">Thirty Days (1 Month)</md-option>
        </md-select>
      </md-input-container>
		<md-button ng-click="submitOffer()" class="md-warn">Add Offer</md-button>

	</form>
</md-dialog>
