<header md-page-header>
       
        <md-toolbar >
          <div class="md-toolbar-tools">
            <h2 md-header-title flex>{{data.nameOfShop}}</h2>
          </div>
        </md-toolbar>
        <div md-header-picture ng-style="{'background-image': 'url(' + img + ')'}" md-swipe-left="right()" md-swipe-right="left()" >
		<!--<div style="margin-top:15% ;position:relative;"></div>
		<div layout="row">
		<span style="margin-left:0px;font-size:70px; position:relative;" class="md-warn" ng-click="left()"><</span>
		<span style="margin-right:0px; 	 font-size:70px; position:relative;" class="md-warn" ng-click="right()">></span></div>
		-->
		<md-tooltip md-direction="top">
			Swipe to see more Photos
		<md-tooltip>
	</div>
     </header> 
     <!-- Angular Material Dependencies -->
	 <md-content class="md-padding hi100">
     	<md-tabs class="hi100" md-no-select-click="true"  md-swipe-content="true"  md-align-tabs='top'>
     	 <md-tab id="tab1">
        <md-tab-label >Menu</md-tab-label>
        <md-tab-body>
          	Coming Soon......
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label class="OffersClass ">Offers</md-tab-label>
        <md-tab-body>
          	<md-list-item class="md-2-line" ng-repeat="of in offer">
			<div class="md-list-item-text" layout="column">
			<h5>{{of.head}}</h5>
			<h4>{{of.description}}</h4>
			<h3 style="text-align:right;">Offer Ending on {{of.endDate}}</h3>
			</div>
		</md-list-item>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Address(Contact)</md-tab-label>
        <md-tab-body>
		<md-list>
          		<md-item>
          		  <md-item-content>
          		    <div class="md-tile-left">
                		  Timings
              		    </div>
              			<div class="md-tile-content">
                		<i class="ion-android-hangout" style="float:right;margin-right:18px;color:#aaa;"></i>
                		<h3>{{data.timing}}</h3>
              			</div>
            		</md-item-content>
          	</md-item>
          
          	<md-divider></md-divider>
          	<md-item>
            		<md-item-content>
              			<div class="md-tile-left">
                			<i class="ion-android-mail">Contact Number </i>
              			</div>
              			<div class="md-tile-content" >
                			<h3 style="padding-top:8px;">{{data.number}}</h3>
              			</div>
            		</md-item-content>
          	</md-item>
  	        <md-divider></md-divider>
          
          	<md-item>
            		<md-item-content>
              			<div class="md-tile-left">
                			<i class="ion-android-pin">Address</i>
              			</div>
              			<div class="md-tile-content" >
                			<h3 style="padding-top:8px;">{{data.address}}</h3>
              			</div>
            		</md-item-content>
          	</md-item>
                <md-divider></md-divider>
          
          
        	</md-list>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
     <!-- Angular Material Dependencies -->

	
 <!-- <md-content>
        <md-list>
          <md-item>
            <md-item-content>
              <div class="md-tile-left">
                <i >Offers</i>
              </div>
              <div class="md-tile-content">
                <i class="ion-android-hangout" style="float:right;margin-right:18px;margin-top:8px;color:#aaa;"></i>
                <h3 style="padding-top:8px;">coming Soon..</h3>
              </div>
            </md-item-content>
          </md-item>
          <md-item>
            <md-item-content>
              <div class="md-tile-left">
                  Timings
              </div>
              <div class="md-tile-content">
                <i class="ion-android-hangout" style="float:right;margin-right:18px;color:#aaa;"></i>
                <h3>{{data.timing}}</h3>
              </div>
            </md-item-content>
          </md-item>
          
          <md-divider></md-divider>
          <md-item>
            <md-item-content>
              <div class="md-tile-left">
                <i class="ion-android-call">    Contact Number </i>
              </div>
              <div class="md-tile-content" >
                <h3 style="padding-top:8px;">{{data.number}}</h3>
              </div>
            </md-item-content>
          </md-item>
          <md-item>
            <md-item-content>
              <div class="md-tile-left">
                  Menu
              </div>
              <div class="md-tile-content">
                <h3>Coming soon...</h3>
              </div>
            </md-item-content>
          </md-item>
          <md-divider></md-divider>
          
          <md-item>
            <md-item-content>
              <div class="md-tile-left">
                <i class="ion-android-pin">Address</i>
              </div>
              <div class="md-tile-content" >
                <h3 style="padding-top:8px;">{{data.address}}</h3>
              </div>
            </md-item-content>
          </md-item>
                    <md-divider></md-divider>
          
          
        </md-list>
      </md-content>-->
